<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row mt-1">
            <div class="col-3" style="background-color:#FF0000;">
                <p>{{cheapWisdom}}</p>
           </div>
           <div class="col-9" style="background-color:blue;">
            <b>{{n}}</b>
            </div>
         </div>
    </div>
</body>
</html>
